* {
    background-color: darkgoldenrod;
    margin: auto;
    font-family: "Baskerville Old Face";
    font-size: medium;
}

}
#container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    width: 100%;
    }
#colonna1 {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 5px
    background-color: chocolate;
    color: darkblue;
}

#colonna2 {
    display: flex
    width: 100%;
    margin: 0;
    padding: 5px
    background-color: burlywood;
    color: darkblue;
}